extends layout

block content
  h1= title
      
  div(class="container-fluid")
      div(class="row")
          -
            let vegetables = [
              {
                "color": "orange",
                "weight": "60",
                "vitamins": "A, K, C"
              },{
                "color": "green",
                "weight": "40",
                "vitamins": "C, E, K"
              },{
                "color": "dark green",
                "weight": "70",
                "vitamins": "A, C, E"
              }
            ]
          each vegetable in vegetables
            div(class="col-sm-2") #{vegetable.color}
            div(class="col-sm-2") #{vegetable.weight}
            div(class="col-sm-2") #{vegetable.vitamins}
